{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        h1 {
            margin: 30px 0 50px 0;
            text-align: center;
        }
    </style>


    <div class="container">
        <h1>Lorem ipsum dolor sit amet!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam facilis fuga id neque nihil voluptas. Commodi eius eveniet expedita hic ipsam maxime modi, molestias necessitatibus odio possimus, quam quasi repellendus ut. Corporis nam reiciendis soluta. Consequatur praesentium quia vitae. Dignissimos.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae deleniti dolorem molestiae quos voluptatum. Accusantium aperiam at, deleniti eos harum hic laborum neque, nostrum provident quasi tempora unde vel.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab aliquam architecto asperiores consectetur cum dignissimos et eveniet fugit ipsum laboriosam, magni maxime, minima molestiae nemo non nulla numquam obcaecati odio odit perspiciatis placeat porro possimus quae quam, quo quod recusandae reprehenderit unde veniam. Illo iste modi perferendis veniam voluptatibus?</p>
    </div>
{% endblock %}
