{% extends 'base.html.twig' %}

{% block title %}Contactez-moi{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <style>
        #contact {
            padding:10px;
            background:#CCCCCC;
            opacity: 0.85;
            text-align: center;
            margin: 7% auto 0px auto;
        }
    </style>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 overflow-visible;"
                 id="contact">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
